<div class="main1">
	<div id="slidePic" class="swiper-container">
	    <div class="swiper-wrapper">  
	        <div class="swiper-slide"><img src=""></div>  
	        <div class="swiper-slide"><img src=""></div>  
	        <div class="swiper-slide"><img src=""></div>  
	    </div>  
	    <div class="swiper-pagination"></div><!--分页器-->  
	    <div class="swiper-button-prev"></div><!--前进按钮-->  
	    <div class="swiper-button-next"></div><!--后退按钮-->  
	</div>
	<div id="suggest"><h2>精彩推荐</h2></div>
</div>